head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Hmwrk Slackbot</title>

    <!-- STYLESHEETS -->
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
</head>



<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/api/amend">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Add an Assignment
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/login/github">Login with Github</a></a></li>
            <li><a href="/api/update">Update Assignment</a></li>
            <li><a href="/api/update">Next Assignment</a></li>
            
        </ul>

    </div>
</nav>


<style>
  body{
    background-color:yellow;
  }
</style> --}}


{{!-- <h1>Hmwrk App</h1>

<p>Update assignments</p>

<!-- Pass in data from server.js -->
<ul>
  {{#each assignments}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Assignment Name:</span> {{this.assignmentName}}</p>
      <p><span class="label">Assignment Details:</span> {{this.assignmentDetails}}</p>

      <button data-id="{{this.id}}" class="delassign">Delete</button>

      <a href="/{{this.id}}">Update this assignment</a>
  	</li>
  {{/each}}
</ul> --}}


