{{!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> --}}
    {{!-- <div class="container"> --}}

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Home
            </a>
        </div>


 <link rel="stylesheet" href="/css/style.css">

<h1>HMWRK App</h1>

<h2>Manage assignments with this app</h2>
<h3>Add a new assignment below</h3>

<!-- Pass in data from server.js -->
<ul>
  {{#each assignments}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Assignment:</span> {{this.assignmentName}}</p>
      <p><span class="label">Type:</span> {{this.type}}</p>
      <p><span class="label">Completed:</span> {{this.completed}}</p>
      <p><span class="label">Assignment Details:</span> {{this.assignmentDetails}}</p>
      <p><span class="label">Due date:</span> {{this.dueDate}}</p>
      <p><span class="label">Is Required:</span> {{this.isRequired}}</p>
      <p><span class="label">Created At:</span> {{this.createdAt}}</p>
      <p><span class="label">Updated At:</span> {{this.updatedAt}}</p>
      
      <button data-id="{{this.id}}" class="delassignment">Delete</button>

      <a href="/{{this.id}}">Update this assignment</a>
  	</li>
  {{/each}}
</ul>
<br>
<br>

<h2>Add a assignment</h2>

<form class="create-form">

  <div class="form-group">
    <label for="name">Assignment Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input type="input" id="type" name="type">
  </div>
  <div class="form-group">
    <label for="completed">Completed:</label>
    <input type="text" id="completed" name="completed">
  </div>

    <div class="form-group">
    <label for="details">Assignment Details:</label>
    <textarea id="details" name="details" rows="8" cols="40"></textarea>
  </div>

  <div class="form-group">
    <label for="due">Due Date:</label>
    <input type="text" id="due" name="due">
  </div>

  <div class="form-group">
    <label for="required">Is Required</label>
    <input type="text" id="required" name="required">
  </div>
  

  <button type="submit">Add assignment</button>
</form>
