<div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Home
            </a>
        </div>
<br>
<br>

<h3>Next Assignment</h3>

<!-- Pass in data from server.js -->
<ul>
  
  	<li>
      <p>ID: {{id}}</p>
      <p>Assignment: {{assignmentName}}</p>
      <p>Type: {{type}}</p>
      <p>Completed: {{completed}}</p>
      <p>Assignment Details: {{assignmentDetails}}</p>
      <p>Due Date: {{dueDate}}</p>
      <p>Is Required: {{isRequired}}</p>
      <p>Assignment Link: {{assignmentLink}}</p>
      <p>Created At: {{createdAt}}</p>
      <p>Updated At: {{updatedAt}}</p>
  	
  	</li>
</ul>