<div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Home
            </a>
        </div>
<br>
<br>

<h3>Next Assignment</h3>

<!-- Pass in data from server.js -->
<ul>
  
  	<li>
      <p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Assignment:</span> {{this.assignmentName}}</p>
      <p><span class="label">Type:</span> {{this.type}}</p>
      <p><span class="label">Completed:</span> {{this.completed}}</p>
      <p><span class="label">Assignment Details:</span> {{this.assignmentDetails}}</p>
      <p><span class="label">Due date:</span> {{this.dueDate}}</p>
      <p><span class="label">Is Required:</span> {{this.isRequired}}</p>
      <a href="{{this.assignmentLink}}" class ="label">Assignment Link </a>
      {{!-- <p>Created At: {{createdAt}}</p>
      <p>Updated At: {{updatedAt}}</p> --}}
  	
  	</li>
</ul>